#comments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}
#comments input {
    width: 30%;
}
#comments textarea{
    width: 30%;
    height: 200px;
}
#location{
    display: flex;
    flex-direction: row;
    justify-content: right;
    row-gap: 10px;
}
#location p{
    width: 50%;
}
