body {
    background-color:lightskyblue;
    padding: 20px;
    margin: 0;
}
h1,h2,h3,p,th,td,ul, li label, input{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color:darkblue;
}
h3{
    font-style: italic;
}
h1 {
    position: absolute;
    top: 41px;
    left: calc(50% - 643px - 21px);
    font-size: 48px;
    font-family: Rock Salt;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1286px;
    height: 139px;
    background-color: powderblue;
}

ul.header li{
    display: inline;
    list-style-type: none;  
    margin: 0;
}
ul.header {
    background-color: powderblue;
    padding: 0;
    text-align: center;
    display:inline-block;
    width:100%;
    justify-content: center;
}
ul.header li a{
    color: darkblue;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}
.content h2 {
    background-color: powderblue;
    padding: 20px;
    display: inline-block;
    text-align: center;
    width:50%;
    margin-left: 25%;
}
.content p {
    background-color: powderblue;
    padding: 20px;
    text-align: center;
    width: 100%;
    font-weight: bold;
}
.content img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}
ul.footer li{
    display: inline;
    list-style-type: none;  
    margin: 10;
    padding: 30px;
}
ul.footer {
    background-color: powderblue;
    padding: 20px;
    text-align: center;
    display:inline-block;
    width:100%;
    justify-items:stretch;
}


