:root {
    --blue-gradient: linear-gradient(313.6deg, #12BBF0 41.5%, rgba(25, 188, 239, 0.47) 50%);
    --box-color: #C1EAF6;
    --text-color: #000000;
}
body {
    background-color: var(blue-gradient);
    padding: 20px;
    margin: 0;
}
h2,h3,p,th,td,ul, li label, input{
    font-family: 'Radley' serif;
    color:var(--text-color);
}
h3{
    font-style: italic;
}
h1 {
    position: absolute;
    top: 41px;
    left: calc(50% - 643px - 21px);
    font-size: 48px;
    font-family: 'Rock Salt' , cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1286px;
    height: 139px;
    background-color: var(--box-color);
}

ul.header li{
    display: inline;
    list-style-type: none;  
    margin: 0;
}
ul.header {
    background-color: var(--box-color);
    padding: 0;
    text-align: center;
    display:inline-block;
    width:100%;
    justify-content: center;
}
ul.header li a{
    color: var(--text-color);
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}
.content h2 {
    background-color: var(--blue-gradient);
    padding: 20px;
    display: inline-block;
    text-align: center;
    width:50%;
    margin-left: 25%;
}
.content p {
    background-color: var(--box-color);
    padding: 20px;
    text-align: center;
    width: 100%;
    font-weight: bold;
}

ul.footer li{
    display: inline;
    list-style-type: none;  
    margin: 10;
    padding: 30px;
}
ul.footer {
    background-color: var(--box-color);
    padding: 20px;
    text-align: center;
    display:inline-block;
    width:100%;
    justify-items:stretch;
}


