#rentalContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-content: stretch;
}
.surry{
    height: 680px;
}
.rental{
    background-color: powderblue;
    height: 170px;
    width: 300px;
}
#reservation{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-content: stretch;
}